.btn-block {
  @include reset-btn();

  display: inline-block;
  vertical-align: top;

  width: 100%;
  padding: 11px 0;

  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
  color: #ffffff;
  text-align: center;

  background-color: $color-btn;

  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media #{$tablet-widths} {
  .btn-block {
    font-size: 16px;
  }
}
