.footer-academy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-academy__link {
  margin: 27px 0;

  font-family: $font-arial;
  text-decoration: none;
  text-transform: none;
  color: #444444;

  &:active {
    opacity: 0.3;
  }

  &--logo {
    margin: 16px 0;
  }
}

.footer-academy__svg path {
  fill: #666666;

  &:hover {
    fill: $color-btn;
  }

  &:active {
    opacity: 0.3;
  }
}

@media #{$tablet-widths} {
  .footer-academy {
    width: 162px;
  }
}
