.form__wrap {
  display: flex;

  margin-bottom: 15px;
}

.form__wrap input {
  width: 100%;

  padding: 10px 0;
  padding-left: 10px;
}

.form__wrap label {
  margin-top: 10px;
  margin-right: 0;
}

.form__title {
  position: relative;

  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 400;
  text-transform: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;

    height: 5px;
    width: 5000px;
    background-color: $color-btn;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}

.form__btn {
  margin-bottom: 10px;

  text-transform: uppercase;
}

.form__text {
  margin-bottom: 40px;

  font-family: $font-arial;
  font-size: 14px;
  text-align: center;
  text-transform: none;
  color: #444444;
}

.form-option {
  margin-bottom: 20px;

  border: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.form-option__list {
  @include reset-list();

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-option__item {
  margin-bottom: 20px;
}

.form-contact {
  margin-bottom: 20px;
  padding: 0 20px;

  border: none;
}

.form-comment {
  margin-bottom: 20px;
  padding: 0 20px;

  border: none;
}

.form-cat-data {
  padding: 0 20px;

  border: none;
}

.form-additionally {
  padding: 0 20px;

  border: none;
}

.form-additionally__list {
  @include reset-list();
}

.form-additionally__item {
  margin-bottom: 20px;
}
