.map {
  position: relative;

  margin: 0 auto;
}

.map__wrap {
  padding: 11px 0;

  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.map__box-text {
  display: flex;
  justify-content: space-between;

  padding-top: 5px;
}

.map__interactive {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 362px;

  border: none;
}

.map__img {
  height: 362px;
  margin-bottom: -5px;
}

.map__text {
  flex-basis: 45%;

  font-size: 16px;
  line-height: 1.25;
}

.map__address {
  flex-basis: 50%;

  margin-top: 18px;

  font-family: $font-arial;
  font-size: 14px;
  text-transform: none;
  color: #444444;
}

@media #{$tablet-widths} {
  .map__wrap {
    display: flex;
    justify-content: space-between;
  }

  .map__box-text {
    padding: 32px 70px;
  }

  .map__interactive {
    height: 392px;
  }

  .map__img {
    height: 392px;
  }

  .map__text {
    flex-basis: 30%;

    font-size: 20px;
  }

  .map__address {
    flex-basis: 30%;

    margin-top: 18px;

    font-size: 16px;
    line-height: 1.7;

    text-align: right;
  }
}

@media #{$desktop-widths} {
  .map__wrap {
    position: absolute;
    z-index: 3;
    top: 95px;
    left: 18%;

    width: 570px;

    background-color: #ffffff;
  }

  .map__box-text {
    padding: 35px 70px;
  }

  .map__interactive {
    height: 400px;
  }

  .map__img {
    height: 400px;
  }

  .map__text {
    flex-basis: 50%;

    font-size: 20px;
  }

  .map__address {
    flex-basis: 40%;

    font-size: 16px;
    text-align: left;
  }
}
