.page-header {
  padding-top: 11px;
}

@media #{$tablet-widths} {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 10px;
  }
}

@media #{$desktop-widths} {
  .page-header {
    position: relative;
    z-index: 2;

    margin-top: 67px;
    padding-top: 0;
  }
}
