.page-footer {
  padding-top: 22px;
  padding-bottom: 25px;

  background-color: #f2f2f2;
}

@media #{$tablet-widths} {
  .page-footer__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 23px;
  }
}

@media #{$desktop-widths} {
  .page-footer {
    padding-top: 17px;
  }
}
