.products-wrap__more {
  position: relative;

  margin-bottom: 24px;
  padding-top: 66px;
  padding-bottom: 32px;

  text-align: center;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center 15%;
  background-size: 30px;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.products-wrap__more-title {
  font-size: 16px;
  line-height: 0.7;
  font-weight: 400;
}

.products-wrap__more-text {
  margin-bottom: 32px;

  font-family: $font-arial;
  font-size: 12px;
  line-height: 1;
  text-transform: none;
  color: #444444;
}

.products-wrap__more-btn {
  @include reset-btn();

  padding: 10px 100px;

  font-size: 14px;
  text-decoration: none;
  color: #444444;
  text-align: center;

  background-color: #f2f2f2;
}

@media #{$tablet-widths} {
  .products-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products-wrap__more {
    width: 324px;

    margin-top: 116px;
    padding-top: 164px;

    background-size: 60px;
  }

  .products-wrap__more-title {
    width: 166px;
    margin: 0 auto;
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 1;
  }

  .products-wrap__more-text {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 94px;

    font-size: 16px;
    line-height: 1.2;
  }

  .products-wrap__more-btn {
    padding: 10px 85px;

    font-size: 16px;
    line-height: 1.25;
  }
}

@media #{$desktop-widths} {
  .products-wrap__more {
    width: 245px;
  }

  .products-wrap__more-btn {
    padding: 10px 45px;
  }
}
