.programs-work {
  margin-bottom: 45px;
}

.programs-work__title {
  margin-bottom: 40px;
}

.programs-work__list {
  @include reset-list();
}

.programs-work__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  font-family: $font-arial;
  font-size: 14px;
  line-height: 1.3;
  text-transform: none;
  color: #444444;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-btn;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media #{$tablet-widths} {
  .programs-work__title {
    margin-bottom: 70px;
  }

  .programs-work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .programs-work__item {
    flex-basis: 45%;

    margin-bottom: 135px;
    margin-right: 5px;
    padding-left: 0;
    padding-top: 110px;

    font-size: 16px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &--leaf::after {
      content: "";

      position: absolute;
      top: 0;
      right: 120px;
      z-index: -1;

      width: 71px;
      height: 228px;

      background-image: url("../img/one@1x.png");
      background-size: cover;
    }

    &--powder::after {
      content: "";

      position: absolute;
      top: 0;
      right: 83px;
      z-index: -1;

      width: 114px;
      height: 230px;

      background-image: url("../img/two@1x.png");
      background-size: cover;
    }

    &--dining::after {
      content: "";

      position: absolute;
      top: 0;
      right: 83px;
      z-index: -1;

      width: 113px;
      height: 233px;

      background-image: url("../img/three@1x.png");
      background-size: cover;
    }

    &--clock::after {
      content: "";

      position: absolute;
      top: 0;
      right: 73px;
      z-index: -1;

      width: 121px;
      height: 228px;

      background-image: url("../img/four@1x.png");
      background-size: cover;
    }
  }

  .programs-work__text {
    display: block;

    width: 245px;
    line-height: 1.5;
  }
}

@media #{$desktop-widths} {
  .programs-work {
    margin-bottom: 130px;
  }

  .programs-work__item {
    flex-basis: 20%;

    margin: 0;

    &--leaf::after {
      right: 50px;
    }

    &--powder::after {
      right: 10px;
    }

    &--dining::after {
      right: 10px;
    }

    &--clock::after {
      right: 0;
    }
  }

  .programs-work__title {
    margin-bottom: 72px;
  }
}
