.selection-program-box {
  margin-bottom: 11px;
  padding: 11px 0;

  color: #ffffff;
  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.selection-program-box__title {
  width: 280px;
  margin-top: 16px;

  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

.selection-program-box__text {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 1;
}

@media #{$tablet-widths} {
  .selection-program-box {
    position: relative;

    margin-bottom: 0;
    padding-bottom: 0;

    text-align: left;

    background: #ffffff;
  }

  .selection-program-box__title {
    width: 427px;
    margin-left: 88px;

    font-size: 60px;
    color: #000000;
  }

  .selection-program-box__text {
    margin-left: 88px;

    font-size: 20px;
    color: #000000;
  }

  .selection-program-box .selection-program-box__btn {
    position: absolute;
    top: 255px;
    left: 125px;

    width: auto;
    padding: 16px 28px;

    font-size: 20px;
    line-height: 1;
  }

  .selection-program-box__img {
    margin-top: -7px;
  }
}

@media #{$desktop-widths} {
  .selection-program-box {
    margin-top: -158px;
    margin-bottom: 77px;
    padding-top: 31px;
    padding-bottom: 263px;

    background: linear-gradient(to right, #ffffff 50%, #68b738 50%);
  }

  .selection-program-box .container {
    margin-top: 210px;
  }

  .selection-program-box__title {
    width: 450px;
    margin-left: 80px;
  }

  .selection-program-box__text {
    margin-left: 80px;
    margin-bottom: 32px;
  }

  .selection-program-box__img {
    position: absolute;
    top: 170px;
    left: 790px;
  }

  .selection-program-box .selection-program-box__btn {
    top: 475px;
    left: 420px;
  }
}
