.selection-program {
  padding-bottom: 22px;

  color: #ffffff;
  text-align: center;
}

.selection-program__container {
  position: relative;

  padding-top: 28px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 320px;
    min-height: 305px;

    background-color: $color-btn;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.selection-program__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

.selection-program__text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1;
}

@media #{$tablet-widths} {
  .selection-program {
    padding: 0;
    text-align: left;

    background: #ffffff;
  }

  .selection-program__container {
    position: relative;

    padding-top: 0;
  }

  .selection-program__title {
    margin: 0;
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 88px;
    padding-right: 60px;

    font-size: 60px;
    color: #000000;
  }

  .selection-program__text {
    margin: 0;
    padding: 0;
    padding-left: 88px;
    padding-bottom: 20px;

    font-size: 20px;
    color: #000000;
  }

  .selection-program__btn {
    width: auto;
    padding: 17px 26px;

    position: absolute;
    top: 293px;
    left: 120px;

    font-size: 20px;
  }
}

@media #{$desktop-widths} {
  .selection-program {
    position: relative;
    z-index: -2;

    padding-bottom: 187px;

    background: linear-gradient(to right, #ffffff 50%, #63a73a 50%);
  }

  .selection-program__container {
    &::after {
      top: -6px;
      right: 0;
      left: auto;
      z-index: -1;

      display: block;
      width: 720px;
      height: 696px;

      background-position: top right;

      background-image: url("../img/index-background-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .selection-program__title {
    padding-top: 215px;
    padding-bottom: 42px;
    padding-left: 78px;
    padding-right: 660px;
  }

  .selection-program__text {
    padding-left: 78px;
    padding-bottom: 52px;
  }

  .selection-program__img {
    position: absolute;
    top: 135px;
    right: 330px;
  }

  .selection-program__btn {
    position: static;
    margin-left: 78px;
  }
}
