.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 17px;

  list-style-type: none;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.social__item {
  margin-right: 36px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link-svg {
  fill: #666666;

  &:hover {
    fill: $color-btn;
  }

  &:active {
    opacity: 0.3;
  }

  &--insta g {
    &:hover {
      fill: $color-btn;
    }
  }
}

@media #{$tablet-widths} {
  .social__list {
    width: 130px;

    border: none;
  }

  .social__item {
    margin-right: 30px;
  }

  .social__link {
    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--insta svg {
      width: 23px;
      height: 23px;
    }

    &--fb svg {
      width: 15px;
      height: 28px;
    }
  }
}
